$def with (candidates)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html" />
        <title>Women 2.0 Pitch Competition</title>
        <link href="/css/zp-compressed.css"
              type="text/css"rel="stylesheet" />
    </head>
    <body>
        <div class="zp-wrapper">
            <div class="zp-70 content">
                <div class="padding">
                    <h1>Vote for Most Disruptive Startup</h1>
                    <h2>Finalists</h2>
                    <ul>
                        $for c in candidates:
                        <li><b>$c.name</b> - code is $c.vote_code, call the number below or send SMS with "v $c.vote_code"</li>
                      </ul>
                      <h2>Vote - (415) 889-8567</h2>
                      <p>For source code visit <a href="https://github.com/ananelson/tropo-vote">https://github.com/ananelson/tropo-vote</a>.</p>
                      <p>Questions? Need help? Email ana@ananelson.com</p>
                </div>
            </div>
        </div>
    </body>
</html>
